services:
  network_manager:
    build:
      context: ./common
      dockerfile: Dockerfile
    container_name: network_manager
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - ENV_VAR=value
